.compInf{
    background-color: rgba(255, 255, 255, 0.55);
    justify-self: center;
    width: 80%;
    margin: 2%;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 3px 3px 20px rgba(28, 28, 28, 0.3);
    max-height: 500px;
    color: rgba(0, 0, 0, 0.834);
}

.headerInf{
    text-align: center;
}

.titleInf {    
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}
.subtitleInf{
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.infoHolder{
    padding: 30px;
    font-size: 19px;
    background-color: rgba(255, 255, 255, 0.074);
    display: flex;
    justify-content:start;
    text-align: justify;
}

/* El cambio de colores del ultimo commit fue hecho por JSGC, hubo un error de credenciales - LINEA DE CODIGO PARA CAMBIAR EL LAST COMMIT