.compInfo{
    background-color: rgba(0, 0, 0, 0.9);
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}

.headerArt{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    }

.ArtHover{
    display: flex;
}

.ArtHoverSec{
    display: flex;
    flex-direction: row-reverse;
}

.contHover{
    background-color: rgba(0, 0, 0, 0);
    width: 50%;
    height: 50%;
    margin: 15px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    
}

.imgHover{
    background-color: rgba(0, 0, 0, 0);
    width: 50%;
    height: 50%;
    margin: 15px;
    display: flex;
    justify-content: center;
    
}

.imgHover img{
    width: 80%;
    border-radius: 20px;

}
