.Foot{
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;

}

.Fot{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.Fot ul li{
    padding: 1px;
    list-style-type: none;
    color: rgb(255, 255, 255);
}