.productsHover{
    background-color: rgba(0, 0, 0, 0.9);
    width: 92%;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
}

.cardContenedor {
    background-color: rgba(0, 0, 0, 0.1);
    border: 3px dotted rgb(0, 0, 0);
    width: 620px;
    height: 540px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 4px 4px 10px black;
}


.cardImagen {
    background-color: rgba(0, 0, 0, 0.0);
    border: 3px dotted rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-radius: 10px;
}

.cardImagen img{
    width: 550px;
    max-height: 290px;
    border-radius: 10px;
}

.cardInfo {
    background-color: rgba(0, 0, 0, 0.0);
    height: 170px;
    margin-top: -19px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cardTitle{
    margin-left: 20px;
    padding-top: 20px;
    font-size: 19px;

}

.cardPrice{
    margin-left: 20px;
    font-size: 19px;
    padding-bottom: 20px;
}

.cardButton{
    width: 100%;
    display: flex;
    justify-content: end;
}

.cardButton button {
    height: 37px;
    width: 130px;
    font-size: 18px;
    background-color: rgb(84, 184, 84);
    color: white;
    border: none;
    border-radius: 20px;
    margin-right: 30px;
    margin-top: -30px;
    transition: 0.3 ease-in;
    padding: 0px;
}

.cardButton button:hover {
    background-color: rgb(75, 153, 75);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.41);
    cursor: pointer;
}

.cardButton button:active {
    transform: translate(0px, 2px);
    border: none;
}

/* Arreglando error de subida de archivos al github */

.catalogTitle {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}