.focusComponent{
    background-color: rgba(0, 0, 0, 0.9);
    width: 92%;
    margin: 2%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 20px black;
}

.focusImagen {
    background-color: rgba(125, 125, 125, 0.1);
    border: 3px dotted rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 396px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
}

.focusImagen img {
    width: 95%;
    height: 90%;
    border-radius: 10px;
}

.focusInfoHover{
    background-color: rgba(49, 49, 49, 0);
    width: 100%;
    height: 396px;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 10px;
}

.focusInfo{
    background-color: rgba(74, 74, 74, 0);
    padding: 30px;
    border-radius: 10px;
}

.focusButton{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 65px;
    margin-left: 60px;
}

.focusButton button {
    height: 40px;
    width: 200px;
    padding: 0px;
    font-size: 20px;
    background-color: rgb(0, 128, 26);
    color: white;
    border: none;
    border-radius: 20px;
    margin-right: 70px;
    transition: 0.3 ease-in;
}

.focusButton button:hover {
    background-color: rgb(0, 101, 3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0);
    cursor: pointer;
}

.focusButton button:active {
    transform: translate(0px, 2px);
}

.focusTitle {
    font-size: 40px;
    margin: 0px;
}

.focusPrice {
    font-size: 25px;
    margin: 0px
}

.focusContent {
    font-size: 18px;
    margin: 0px;
}

.contact {
    color: rgba(175, 175, 175, 0.8);
}

.NoEncontrado {
    width: 1536px;
    height: 485px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 30px;
}

.NoEncontrado p {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px dotted rgb(0, 0, 0);
}