.Imagen{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210205/pngtree-car-banner-background-image_547203.jpg);
    height: 350px;
    width: 95%;
    background-position: 0px -250px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 30px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.Imagen h1{
    color: rgb(255, 255, 255);
    font-size: 70px;
    width: 25%;
    height: 20%;
    border-radius: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 9px;
    
}


.Seccion{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 91%;
    padding: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Informacion{
    width: 80%;
}


.imgH {
    width: 200px;
    background-color: rgb(0, 0, 0);
    height: 200px;
    justify-content: center;
    padding: 5px;
    border-radius: 10%;
}

.imgH img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.content{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.botonn{
    width: 100%;
    display: flex;
    justify-content: end;
}

.botonn button{
    height: 40px;
    width: 200px;
    margin: 5px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    border: none;
}