.Imagen{
    background-image: url(../../images/banner.jpg);
    height: 350px;
    width: 95%;
    background-position: 0px -340px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    border-radius: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow:5px 5px 20px rgb(0, 0, 0);
}

.Imagen h1{
    margin-top: 2.5%;
    padding-left: 5%;
    color: rgb(255, 255, 255);
    font-size: 90px;
    width: 25%;
    height: 20%;
    border-radius: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 9px;
    
}


.Seccion{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 91%;
    padding: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:5px 5px 20px rgba(0, 0, 0, 0.486);
}

.Informacion{
    width: 80%;
    text-align: justify;
}


.imgH {
    width: 200px;
    background-color: rgb(0, 0, 0);
    height: 200px;
    justify-content: center;
    padding: 5px;
    border-radius: 10%;
}

.imgH img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.content{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.botonn{
    width: 100%;
    display: flex;
    justify-content: end;
}

.botonn button{
    height: 40px;
    width: 200px;
    margin: 5px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    border: none;
}